{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}

{% block head %}
<title>Remote follow {{ local_actor.display_name }}</title>
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}

<div class="box">
<h3>Subscribe via ActivityPub (e.g. Mastodon)</h3>
<form class="form" action="{{ url_for("post_remote_follow") }}" method="POST">
    {{ utils.embed_csrf_token() }}
    <input type="text" name="profile" placeholder="your_username@server.tld" autofocus>
    <input type="submit" value="follow">
</form>
</div>
<br>
<div class="box">
<h3>Subscribe to RSS (Atom) Feed</h3>
The feed is available at <a href="/feed.atom">/feed.atom</a>.
</div>

{% endblock %}
